@import '../../variables';
@import '../../mixins';

$side-menu-width-mobile: 320px;
$side-menu-padding: 43px;
$side-menu-small-photo-size: 60px;

.SideMenu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $side-menu-width-mobile-collapsed;
  transition: width 0.3s ease;

  &.SideMenu--expand {
    width: $side-menu-width-mobile;
  }

  @include min-screen($desktop-media-size) {
    width: $side-menu-width-desktop;

    &.SideMenu--expand {
      width: $side-menu-width-desktop;
    }
  }
}

.SideMenu__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $menu-background;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.SideMenu__smallPhoto {
  position: absolute;
  background: $rouge;
  background-image: url('../../assets/img/photo-small.jpg');
  background-size: contain;
  background-position: center center;
  width: $side-menu-small-photo-size;
  height: $side-menu-small-photo-size;
  border: 2px solid $white;
  border-radius: 50%;
  top: ($side-menu-width-mobile-collapsed - $side-menu-small-photo-size) / 2;
  left: ($side-menu-width-mobile-collapsed - $side-menu-small-photo-size) / 2;
  transition: left 0.3s ease;

  .SideMenu--expand & {
    left: -100%;
  }

  @include min-screen($desktop-media-size) {
    left: -100%;
  }
}

.SideMenu__stateControl {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: $side-menu-width-mobile-collapsed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease, width 0.3s ease;

  .SideMenu--expand & {
    width: $side-menu-padding;
  }

  @include min-screen($desktop-media-size) {
    left: -100%;
  }
}

.SideMenu__stateControlButton {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;

  &:active {
    opacity: 0.5;
  }
}

.SideMenu__stateControlButton--expand {
  background-image: url('../../assets/svg/right.svg');
}

.SideMenu__stateControlButton--collapse {
  background-image: url('../../assets/svg/left.svg');
}

.SideMenu__content {
  position: absolute;
  left: $side-menu-width-mobile-collapsed;
  top: 0;
  bottom: 0;
  width: $side-menu-width-mobile - $side-menu-padding;
  transition: left 0.3s ease;

  .SideMenu--expand & {
    left: $side-menu-padding;
  }

  @include min-screen($desktop-media-size) {
    width: $side-menu-width-desktop - $side-menu-padding;
    left: $side-menu-padding;
  }
}

.SideMenu__photo {
  height: $side-menu-width-mobile - $side-menu-padding;
  transition: clip-path 0.3s ease, height 0.3s ease;
  width: $side-menu-width-desktop - $side-menu-padding;
  background: $rouge;
  background-image: url('../../assets/img/photo.jpg');
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 95px));

  @include min-screen-height(900px) {
    height: 523px;
  }

  @include max-screen-height(680px) {
    height: 60px;
  }
}

.SideMenu__text {
  position: relative;
  top: -44px;
}

.SideMenu__contacts {
  @include not-serif-text();

  color: rgba(238, 195, 195, 0.7);
}

.SideMenu__contact:last-of-type {
  margin-top: 25px;
}

.SideMenu__contactLabel {
  font-size: 12px;
}

.SideMenu__contactText {
  position: relative;
  font-size: 18px;
  margin-top: 2px;
  width: auto;
  display: inline-block;
}

.SideMenu__contactIcon {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(30%, -50%);
  opacity: 0.5;
}

.SideMenu__links {
  @include not-serif-text();
  @include empty-list();

  margin-top: 30px;
}

.SideMenu__linkContainer {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.SideMenu__link {
  color: white;
  font-size: 18px;
}

.SideMenu__social {
  display: flex;
  height: 62px;
  align-items: center;

  @include min-screen-height(375px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.SideMenu__socialSpace {
  flex: 1;
}

.SideMenu__socialItem {
  margin-right: 8px;

  &:last-of-type {
    margin-right: 24px;
  }
}
