@import '../../variables';
@import '../../mixins';

.Content {
  padding-left: $side-menu-width-mobile-collapsed;
  transition: padding-left 0.3s ease;
  background: $rose-white;
  overflow-y: auto;

  @include min-screen($desktop-media-size) {
    padding-left: $side-menu-width-desktop;
  }
}

.Content__thanks {
  @include serif-text();

  text-align: center;
  padding: 20px 20px 40px 20px;
  font-style: normal;
  font-size: 24px;
  color: $wine-berry;
}
