$white: #FFFFFF;
$rose-white: #FFF6F5;
$tundora: #4D4A4A;
$rouge: #AA3C88;
$menu-background: linear-gradient(
  180deg,
  #60184A 2.6%,
  #541E4F 45.83%,
  #61174A 70.31%,
  #710E43 100%
);
$dark-burgundy: #7A0606;
$tawny-port: #551F50;

$tablet-media-size: 600px;
$desktop-media-size: 1024px;

$side-menu-width-desktop: 390px;
$side-menu-width-mobile-collapsed: 96px;
